NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_REPLACE_ME
CLERK_SECRET_KEY=sk_test_REPLACE_ME
CLERK_JWT_ISSUER_DOMAIN=https://REPLACE_ME.clerk.accounts.dev

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Local Convex values are written by `bunx convex dev`.
NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:3210
CONVEX_DEPLOYMENT=anonymous:anonymous-docs
NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211

CLERK_WEBHOOK_SECRET=whsec_REPLACE_ME
